body{
font-family: Arial;
background:#0f172a;
color:white;
margin:0;
padding:0;
}

.container{
max-width:900px;
margin:auto;
padding:40px;
}

h1{
font-size:40px;
text-align:center;
}

.subtitle{
text-align:center;
color:#94a3b8;
margin-bottom:30px;
}

.menu{
text-align:center;
margin-bottom:30px;
}

.menu a{
display:inline-block;
margin:5px;
padding:12px 18px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:8px;
}

.menu a:hover{
background:#1e40af;
}

input,select{
width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:none;
}

button{
background:#22c55e;
border:none;
padding:12px;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}
